*{
    padding: 2px;
    margin: 2px;
    box-sizing: border-box;
    
}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 2;
    background: #dfd0b5;
}

.btn{
    font-family: inherit;
    cursor: pointer;
    outline: 2;
    font-size: 15px;
}
/*physician detials*/

.doctor-details{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:black;
    background: lightblue;
    border-radius: 10px;
    width: 90%;
    height:90%;
    display:none;
    padding: 10px;
}
/* figure out how to do the scrollbar w/o the webkit 
.doctor-details::-webkit-scrollbar{
    width: 5px;
}
*/

/* for the script */
.showDoctor{
    display: block;
}
.doctor-details-content{
    margin: 20px;
}

.drInfo-close-btn{
    position: absolute;
    right:10px;
    text-align: center;
    justify-content: center;
}
.doctor-name{
    letter-spacing: 1px;
    padding-bottom: 5px;
}

.doctor-img{
    width:100px;
    height: 100px;
    border-radius: 50%;
}


#magnifying-glass {
    font-size: 15px;
    display: inline-block;
    width:3px;
    box-sizing: content-box;
    height:3px;
    border: 0.1em solid white;
    position: relative;
    border-radius: 0.35em;
  }
  #magnifying-glass:before {
    content: "";
    display: inline-block;
    position: absolute;
    right: -0.25em;
    bottom: -0.1em;
    border-width: 0;
    background: white;
    width: 0.35em;
    height: 0.08em;
    transform: rotate(45deg);
  }
.title{
    font-size: 20px;
    margin-bottom: 2px;
    font-family: Quicksand;

}

.header{
    font-family: quicksand;
    font-weight: bold;
}

.container{
    max-width: 1280px;
    margin: auto;
    padding: 10px;
    background: lavender;
    text-align: center;
}
.doctor-item{
    background: lightblue;
    border-radius: 10px;
}
.doctor-result{
    border: 5px solid green;
    width: auto;
    height: auto;
    display:flex;
    flex-wrap: wrap;

}
.dr-wrapper{
    max-width: 1280px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    background-color: lightcoral;
}
img{
    max-width: 400px;
    height: 200px;
    display: inline-block;
    object-fit: cover;
    border: 5px solid black;
}
h3{
    text-transform: capitalize
}
.dr-search-box{
    display: flex;
    align-items: stretch;
    margin: 10px;
}
#search-btn{
    margin:0px;
}
.search-btn{
    background-color: #bf8040;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 60px;
}

.search-control{
    padding: 0px;
    margin:0px;
    width: 90%;
    height: 50px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 2px solid #996633;
}
.doctor-item{
    border: 5px solid blue;
    height: auto;
    width: 300px;
    box-shadow: 7px 7px gray;
}
.dr-btn{
    border: 5px solid;
    background-color: #dfbf9f;
    box-shadow: 3px 3px #734d26;
    border-radius: 10px;
    display: inline-block;
    width: 150px;
}
